html,
body {
  font-family: Inter;
}

body {
  max-width: 42rem;
  margin: auto;
}
img {
  float: right;
  border-radius: 50%;
  height: 10rem;
  padding: 2rem 5rem;
}

nav {
  padding: 1rem 2rem 2rem 0;
  background-color: grey;
}
.headline {
}
.page {
}
ul {
}

li {
}
a {
}

.top {
}

.bottom {
}

h3 {
}
